/*  main page */
body{
    background-color: skyblue;
    box-sizing: border-box;
    
}
h1{
    display: block;
    text-align: center;
   color: black;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    
}

.main{
    margin: 0 auto;
    width: 500px;
    background-color: lightcyan;
    border: 5px solid black;
    padding: 50px 150px 50px 50px;


}
.i1 img{
    width: 100%; /* Make the image responsive within its container */
  max-width: 600px; /* Limit the maximum width of the image */
  display: block; /* Remove any extra space below the image */
  margin: 20px auto; /* Center the image horizontally with margin */
  border: 4px darkblue solid;
}
.listss{
    display: flexbox;
    

    border: 3px black solid;
    padding: 19px;
    background-color: #212121d9;
    width: 100px;
    margin: 0 auto;
    



}
 .listss ul a{
    color: white;
    list-style: none;
    text-decoration: none; 
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightseagreen; 
    padding:5px;
    
    
}
.home a{
    color: white;
    font-size: larger;
    text-decoration:none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.content{
    background-color: lightcyan;
    padding: 40px;
    border: black 3px solid;
    
    
}
/* biryani */
 .main.biryani{
    background-color: khaki;

 }
 .main.chicken{
    background-color: lightslategray;
    
 }
 .main.cookie{
    background-color: lavenderblush

 }
 .content.biryani{
    background-color: whitesmoke
 }
 .content.cookie{
    background-color: lightpink;
    padding: 20px;
    margin: 10px auto;
 }
 